
$font-family-title:  'Syne-Extra', sans-serif;
$font-family-base:  'SpaceGrotesk-Regular', sans-serif ;


@font-face {
    font-family: 'Syne-Extra';
    src: url('../fonts/Syne-Extra.woff2') format('woff2'),
         url('../fonts/Syne-Extra.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'object_sansslanted';
    src: url('../fonts/objectsans-slanted-webfont.woff2') format('woff2'),
         url('../fonts/objectsans-slanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'object_sansheavy_slanted';
    src: url('../fonts/objectsans-heavyslanted-webfont.woff2') format('woff2'),
         url('../fonts/objectsans-heavyslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'object_sansheavy';
    src: url('../fonts/objectsans-heavy-webfont.woff2') format('woff2'),
         url('../fonts/objectsans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'object_sansregular';
    src: url('../fonts/objectsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
