.contact {
    width: 100%;
    height: 100vh;
    background-color: #000;
    text-align: center;
    position: relative;
    &-copy {
        width: 60%;
        display: block;
        margin: 14% auto 0;
        font-family: $font-family-base;
        color: $color-white;
        font-size: 80px;
        a {
            color: $color-white;
        }
        span {
            font-size: 20px;
        }
        @media only screen and (max-width: $break-small) {
            width: 80%; 
            margin: 72% auto 0;
            font-size: 40px;
        }
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
            width: 80%;  
            margin: 40% auto 0;
            font-size: 50px;
        }
    }
}