.fanzine {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f0faf1;
  text-align: center;
  color: #151515;
  &-title {
    margin: 20% 0 10px;
    display: block;
    font-family: 'object_sansheavy';
    font-size: 36px;
  }
  &-copy {
    font-family: 'object_sansregular';
    font-size: 20px;
    margin: 0 0 16px;
  }
  &-link {
    font-family: 'object_sansregular';
    font-size: 14px;
    color: #ff520e;
    font-weight: bold;
    margin: 0;
  }
}
